
<h1>Burası views dizinindeki index ejs dir</h1>
<h1>Giriş işlemi başarılı</h1>

<a href="/index">Index Sayfasına git</a> <br><br>
<a href="/register">Register Sayfasına git</a> <br><br>
<a href="/getir">Getir sayfasına git</a> <br><br>